*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* css for banner section */
.banner{
    width: 100%;
    margin-top: 60px;
}
.banner-content{
    width: 100%;
    display: flex;
}
.banner-left{
    width: 50%;
    margin-top: 160px;
}
.banner-right{
    width: 50%;
}
.banner-left h1{
    font-size: 50px;
    font-weight: 900;
    color: rgb(66, 66, 66);
}
.banner-left p{
    color: dimgray;
    margin: 30px 0;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, tomato, orange);
    padding: 15px 30px;
    border-radius: 25px;
}
.color-text{
    color: orange;
}
/* css for about me section */
.about-me{
    width: 100%;
    padding-top: 30px;
    background-image: url(img/about-me-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.about-content{
    width: 100%;
    display: flex;
}
.about-left{
    width: 50%;
}
.about-right{
    width: 50%;
    margin-top: 120px;
}
.about-right h2{
    font-size: 30px;
    font-weight: 700;
    color: rgb(66, 66, 66);
}
.about-right p{
    color: dimgray;
    margin: 30px 0;
}

/* recipe section css */
.recipe{
    width: 100%;
    margin-top: 120px;
}
.my-recipe{
    text-align: center;
}
.my-recipe h2{
    font-size: 30px;
    font-weight: 700;
    color: rgb(66, 66, 66);
}
.my-recipe p{
    color: dimgray;
    margin: 30px 0;
}
.recipe-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.recipe-1{
    width: 27%;
    box-shadow: 0px 0px 10px dimgray;
    padding: 20px;
    border-radius: 25px;
}
.recipe-1 h4{
    margin: 20px 0;
    font-size: 20px;
}
.recipe-1 p{
    color: dimgray;
}

/* footer css */
footer{
    width: 100%;
    margin-top: 120px;
    padding: 80px 0;
    text-align: center;
    background-color: black;
}
footer h1{
    color: gray;
}
footer p{
    color: dimgray;
    margin-top: 20px;
}